{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block slider_title %}{{ slider_title }}{% endblock %}
{% block slider_text %}{{ slider_text }}{% endblock %}

{% block content %}
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="w-100"></div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>آدرس:</span> ایران </p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>تلفن:</span> <a href="tel://1234567920">{{ setting.phone }}</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>ایمیل:</span> <a href="mailto:info@yoursite.com">{{ setting.email }}</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>وب سایت</span> <a href="#">vogafoods.ir</a></p>
                    </div>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-6 order-md-last d-flex">
                    <form method="post" class="bg-white p-5 contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ contact_form.full_name }}
                        </div>
                        <div class="form-group">
                            {{ contact_form.email }}
                        </div>
                        <div class="form-group">
                            {{ contact_form.subject }}
                        </div>
                        <div class="form-group">
                            {{ contact_form.text }}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="ارسال پیام" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>

                <div class="col-md-6 d-flex">
                    <div id="map" class="bg-white"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}