{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block slider_title %}{{ slider_title }}{% endblock %}
{% block slider_text %}{{ slider_text }}{% endblock %}

{% block content %}
    <section class="container my-5">
        <div class="row">
            <div class="col-md-4 my-2">
                {% include 'account/account_menu.html' %}
            </div>
            <div class="col-md-8 my-2 border rounded p-2">
                <div class="col-12 my-2">
                    <h5>سفارشات شما</h5>
                </div>
                {% for detail in order_detail %}
                    <div class="col-12 my-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">شناسه
                                    : {{ detail.id }}</p>
                                <p class="card-text">وضعیت پرداخت
                                    : {{ detail.is_paid|yesno:'پرداخت شده,پرداخت نشده' }}</p>
                                <p class="card-text">تاریخ پرداخت
                                    : {{ detail.payment_date }}</p>
                                <p class="card-text">آدرس
                                    : {{ detail.address.city }}</p>
                                <p class="card-text">وضعیت :
                                    {{ detail.is_send|yesno:'تحویل شده,درحال پردازش' }}</p>
                                <a href="/account/paid-order/{{ detail.id }}" class="btn btn-primary">مشاهده</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block new_js_code %}

    {% if alert %}
        <script>
            swal("موفق!", "خرید شما با موفقیت انجام شد", "success");
        </script>
    {% endif %}

{% endblock %}