{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block slider_title %}{{ slider_title }}{% endblock %}
{% block slider_text %}{{ slider_text }}{% endblock %}

{% block content %}
    <section class="ftco-section" id="product">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <ul class="product-category">
                        <li><a href="#" class="active">همه ی محصولات</a></li>
                        <li><a href="#">سبزیجات</a></li>
                        <li><a href="#">میوه</a></li>
                        <li><a href="#">آبمیوه</a></li>
                        <li><a href="#">میوه خشک</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">

                {% for product in page_obj %}
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="{{ product.image.url }}" class="img-prod"><img class="img-fluid"
                                                                                    src="{{ product.image.url }}"
                                                                                    alt="Colorlib Template">
                                <span class="status">30%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="/products/{{ product.get_absolut_url }}">{{ product.title }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        {% comment %}<p class="price"><span class="mr-2 price-dc">120.00 تومان</span><span
                                                class="price-sale">80.00 تومان</span></p>{% endcomment %}
                                        <p class="price"><span class="price-sale">{{ product.price }} تومان</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="/products/{{ product.get_absolut_url }}"
                                           class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-eye"></i></span>
                                        </a>
                                        <a href="#"
                                           class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                        <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}#product">قبلی</a></li>
                            {% endif %}

                            {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="active"><a href="?page={{ page }}#product">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page }}#product">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}#product">بعدی</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}