<!--Start Subscribe-->
<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">مشترک شدن در خبرنامه ما</h2>
                <span>دریافت ایمیل درباره آخرین مغازه ها و پیشنهادات ویژه</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="ایمیل آدرس خود را وارد کنید">
                        <input type="submit" value="اشتراک" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--End Subscribe-->

<!--Start Footer-->
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        {% comment %}<div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">غذاهای گیاهی</h2>
                    <p>یکی از بهترین راهها انتخاب درست مسیر زندگی هست با ما بسلامتی خود اهمیت بدین</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">منو</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">خرید</a></li>
                        <li><a href="#" class="py-2 d-block">درباره ی ما </a></li>
                        <li><a href="#" class="py-2 d-block">کاتالوگ</a></li>
                        <li><a href="#" class="py-2 d-block">ارتباط با ما</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">سوالی هست؟</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                            <li><a href="#" class="py-2 d-block">اطلاعات حمل و نقل</a></li>
                            <li><a href="#" class="py-2 d-block">شرایط بازگشت و تعویض</a></li>
                            <li><a href="#" class="py-2 d-block">شرایط و ضوابط</a></li>
                            <li><a href="#" class="py-2 d-block">سیاست حفظ حریم خصوصی</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">وب روبیک</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">ایران - شیراز - بلوار جمهوری</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">07132309534</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                                    class="text">info@webrubik.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>{% endcomment %}
        <div class="row">
            <div class="col-md-12 text-center">
                تمام حقوق این سایت متعلق به <a href="#"> ((آدرس)) </a> میباشد
            </div>
        </div>
        {% comment %}<div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    <!-- Link back to webrubik can't be removed.  -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made by <a href="https://colorlib.com/" target="_blank">colorlib</a></br>
                    فارسی و راست چین شده &copy توسط حمید معلمی <i class="icon-heart text-danger" aria-hidden="true"></i>
                    از اعضای تیم <a href="https://webrubik.com/" target="_blank"> وب روبیک</a>
                    <!-- Link back to webrubik can't be removed.  -->
                </p>
            </div>
        </div>{% endcomment %}
    </div>
</footer>
<!--End Footer-->