{% load static %}
<!--header-->
<div class="py-1 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pl-4 d-flex topper align-items-center">
                        <div class="icon ml-2 d-flex justify-content-center align-items-center"><span
                                class="icon-phone2"></span></div>
                        <span class="text">{{ setting.phone }}</span>
                    </div>
                    <div class="col-md pl-4 d-flex topper align-items-center">
                        <div class="icon ml-2 d-flex justify-content-center align-items-center"><span
                                class="icon-paper-plane"></span></div>
                        <span class="text">{{ setting.email }}</span>
                    </div>
                    <div class="col-md-5 pl-4 d-flex topper align-items-center text-lg-left">
                        <span class="text">ارسال بین 3-5 روز کاری</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header-->

<!--Start Nav-->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">ووگا فودز</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> منو
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">خرید</a>
                    <div class="dropdown-menu" id="top-dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/products">محصولات</a>
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="/orders">سبد خرید</a>
                        {% endif %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">سایت</a>
                    <div class="dropdown-menu" id="top-dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/blog">بلاگ</a>
                        <a class="dropdown-item" href="/contact-us">تماس با ما</a>
                        <a class="dropdown-item" href="/about-us">ارتباط با ما</a>
                    </div>
                </li>

                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">داشبورد</a>
                    </li>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">حساب کاربری
                        </a>
                        <div class="dropdown-menu" id="top-dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/account">حساب کاربری</a>
                            <a class="dropdown-item" href="/log-out">خروج</a>
                        </div>
                    </li>

                    <li class="nav-item cta cta-colored">
                        <a href="/orders" class="nav-link">
                            <span class="icon-shopping_cart"></span>[{{ order_detail }}]
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/login" class="nav-link">ورود</a>
                    </li>

                    <li class="nav-item">
                        <a href="/register" class="nav-link">ثبت نام</a>
                    </li>
                {% endif %}
                
                <li class="nav-item mt-3 mx-3">
                    <form action="/products/search">
                        <input type="text" placeholder="جستجو" name="q" value="{{ request.GET.q }}"
                               class="form-control-sm">
                        <button class="btn btn-dark"><i class="ion-ios-search"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

<!--Start Slider-->
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url({% static 'pics/bg_1.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
