<div class="sidebar-box">
    <form action="/blog/search" class="search-form">
        <div class="form-group">
            <span class="icon ion-ios-search"></span>
            <input type="text" name="aq" class="form-control" placeholder="جست و جو در مقالات...">
        </div>
    </form>
</div>
<div class="sidebar-box ftco-animate">
    <h3 class="heading">لیست محصولات موجود</h3>
    <div class="tagcloud">
        <a href="#" class="tag-cloud-link">میوه</a>
        <a href="#" class="tag-cloud-link">گوجه</a>
        <a href="#" class="tag-cloud-link">مانجو</a>
        <a href="#" class="tag-cloud-link">سیب</a>
        <a href="#" class="tag-cloud-link">هویج</a>
        <a href="#" class="tag-cloud-link">پرتغال</a>
        <a href="#" class="tag-cloud-link">فلفل</a>
        <a href="#" class="tag-cloud-link">بادمجون</a>
    </div>
</div>